*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
body{ 
    background-image: url("img/pp_parede.jpg");
}
#logo {
    display: flex;
    width: 200;
    height: 200;
}
#menu-h{
    background-color: rgb(37, 37, 39);
}
#menu-h ul{
    max-width: 800;
    list-style: none;
    padding: 0;
}
#menu-h ul li{
    display: inline;
}

/*ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 10px;
    display: inline;
}
li a{
    padding: 5px 10 px;
    margin: 0;
    border: 0px solid #f00;
    background: #903;
    text-decoration: none;
    color: #fff;
}