*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.corpo{
    background-image: url("../Img_Coffe/pp_parede.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.conteudo{
    display: flex;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 20%;
    background-color: rgba(0, 255, 255, 0.613);
    width: 13%;
    padding: 10% 23% 10% 5%;
}

.form-group{
    text-decoration: none;
    align-items: center;
    
    width: 250px;
    font-size: 20px;
}

.login{
    
    margin-top: 30px;
    margin-left: 35%;
}