body{
    /*Cor de Fundo do Site*/
    background-color: rgb(34, 34, 34);

    /*Cor De todas as fontes*/
    color: white;

    /*Definir a familia da fonte usada*/
    font-family: poppinsregular;

    /*Definir a Largura maxima do elemento*/
    max-width: 1200px;

    /*definir o conteudo no meio*/
    margin: 0 auto;

    /*Espacamento interno*/
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}










