.explicacao{
    font-size: 20px;
}
.color1{
   color: aqua;
   border: 1px solid;
}

.color2{
    color: aquamarine;
    border: 1px solid;
}

.color3{
    color:blue;
    border: 1px solid;
}

.color4{
    color: blueviolet;
    border: 1px solid;
}

.color5{
    color: brown;
    border: 1px solid;
}

.color6{
    color: burlywood;
    border: 1px solid;
}

.color7{
    color: cadetblue;
    border: 1px solid;   
}

.color8{
    color: chartreuse;
    border: 1px solid;
}

.color9{
    color: coral;
    border: 1px solid;
}

.color10{
    color: cornflowerblue;
    border: 1px solid;
}

.color11{
    color: crimson;
    border: 1px solid;
}

.color12{
    color: yellow;
    border: 1px solid;
}

.color13{
    color: teal;
    border: 1px solid;
}

